<h2>People Lookup Application</h2>
<p>This application searches people by first, last, and first and last name.</p>
<p>The following technologies were used:</p>
<ul>
    <li>ASP.NET Core</li>
    <li>ASP.NET MVC</li>
    <li>Angular 2</li>
    <li>Bootstrap</li>
    <li>Webpack</li>
    <li>Entity Framework Core</li>
    <li>EF Migrations</li>
    <li>Dependency Injection</li>
    <li>Unit Testing Framework</li>
</ul>
<p class="text-center"><a [routerLink]="['/search']" class="btn btn-primary">Begin Search</a></p>

